:root {
  --dark: #2B4141;
  --light: #c8c2ae;
  --accent-subdued: #57a773;
  --background: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--background);
  position: relative;
  color: var(--dark)
}

div{
  text-align: center;
}

div.checkbox {
  width: 17px;
  height: 17px;
  position: relative;
}

div.clickable {
  cursor: pointer;
}

div.clickable:hover{
  opacity: 60%;
}

div.log-container {
  width: 22em;
  text-align: justify;
  hyphens: auto;
  margin-top: 2em;
}

div.log-container h2 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    gap: 13px
  }

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}