:root {
  --dark: #2B4141;
  --light: #c8c2ae;
  --accent-subdued: #57a773;
  --background: #F9F3F1;
  --highlight: #f38153;
}

body {
  font-family: "Rethink Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: var(--background);
  position: relative;
  color: var(--dark)
}

div{
  text-align: center;
}

div.checkbox {
  width: 17px;
  height: 17px;
  border-radius: 2px;
  position: relative;
}

div.checkbox.checked {
  background-color: var(--accent-subdued);
}

div.checkbox.unchecked {
  background-color: var(--light);
}

svg.checkmark {
  stroke: var(--background);
  width: 17px;
  height: 17px;
}

.clickable {
  cursor: pointer;
}

.clickable:hover{
  opacity: 60%;
}

.clickable.disabled {
  opacity: 30%;
  cursor: auto;
}

div.selected {
  box-shadow: 0 0 3px 2px var(--highlight);
}

div.log-container {
  width: 300px;
  text-align: left;
  hyphens: auto;
}

div.log-container h2 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
}

div.log-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
}

div.log-container p {
	padding-left: 5px;
	padding-right: 5px;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    gap: 13px
  }

div.log-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 1em;
}

.crimson-text-semibold {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-style: normal;
}

.rethink-sans-400 {
  font-family: "Rethink Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-icon {
  text-align: center;
}

i.nav-icon {
  font-size: 30px;
}