:root {
  --dark: #2B4141;
  --light: #c8c2ae;
  --accent-subdued: #57a773;
  --background: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  background-color: var(--background);
  position: relative;
  color: var(--dark)
}

div{
  text-align: center;
}

.checkbox-container {
    width: 10%;
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* 10 columns */
    gap: 15px
  }

  INPUT[type=checkbox]:focus
  {
      outline: 1px solid var(--dark);
  }
  
  INPUT[type=checkbox]
  {
      background-color: var(--light);
      border-radius: 2px;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 17px;
      height: 17px;
      cursor: pointer;
      position: relative;
      top: 5px;
  }
  
  INPUT[type=checkbox]:checked
  {
      background-color: var(--accent-subdued);
      background: var(--accent-subdued) url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==") 3px 3px no-repeat;
  }
