body {
    font-family: arial;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    font-size: 22px;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 24px;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    text-align: justify;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}

#languages {
    font-size: 14px;		   
}

#bottom1 {
    padding-top:40px;
}
#bottom2 {
    padding-top:60px;
    padding-bottom:30px;
}